<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>Registro de participantes</title>

  	<link rel='stylesheet' href='/home/cgarcia/desarrollo/python/HCEventos/static/css/sidebar.css'>
		<link rel="stylesheet" href="/home/cgarcia/desarrollo/python/HCEventos/static/css/bootstrap.min.css">
	</head>
	<body>

		<script id="personaPlantilla" type="text/template">
			<strong><%= nombre%></strong> (<%= edad%>) - <%= ocupacion%>
		</script>

		<script id="inicioSesionPlantilla" type="text/template">
			<div id="mostrarInicioSesion">
				<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
								<a id="desplegarInicioSesion2" href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Iniciar Sesion</b> <span class="caret"></span></a>
								<ul id="login-dp" class="dropdown-menu">
										<li>
												<div class="container-fluid">
														<form class="form" role="form"  accept-charset="UTF-8" id="frmLogin">
																<div class="input-group form-group">
																		<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
																		<input type="email" class="form-control" id="inputEmail" placeholder="Direccion Email" required name="usu_form" >
																</div>
																<div class="input-group form-group">
																		<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
																		<input type="password" class="form-control" id="inputPassword" placeholder="Contrasena" required name="pass_form" >
																</div>

																<div class="help-block text-center"><a href="">Olvido de clave ?</a></div>

																<div class="form-group">
																		<button id="btnIniciarSesion" type="button" class="btn btn-primary btn-block">Iniciar Sesion</button>
																</div>
														</form>

														<div class="bottom text-center">
																No tienes cuenta? <a href="/"><b>Registrate</b></a>
														</div>
												</div>
										</li>
								</ul>
						</li>
				</ul>
			</div>
		</script>

		<script id="index" type="text/template">
			<!-- -->
			<div id='wrapper'>
					<div id="divMenuPrincipal">
							<div id='sidebar-wrapper'>
									<ul class='sidebar-nav'>
											<div class='user-sidebar-info'>
													<div class='row user-foto'>
															<img src='static/img/unknow-user.png'></img>
													</div>
													<div class='row'></div>
											</div>
											<li><a href='#'><span class=''></span> Nosotros</a></li>
											<li><a href='#'>Programa</a></li>
											<li><a href='#'>Objetivos</a></li>
											<li><a href='#'>Comit&eacute;</a></li>
											<li><a href='#'>Normas y reglamentos</a></li>
											<li><a href='#'>Formatos</a></li>
											<li><a href='#'>Contacto</a></li>
									</ul>
							</div> <!-- End sidebar wrapper -->
					</div>
					<!--Fin de MenuPrincipal -->

					<div id='page-content-wrapper toggled'>
							<div class='container-fluid'>
									<div class='navbar navbar-inverse navbar-fixed-top'>
										<div class='container'>
											<ul class='nav navbar-nav navbar-left'>
												<li><a href='#menu-toggle' id='menu-toggle'><span class='glyphicon glyphicon-align-justify'></span></a></li>
											</ul>

										<!-- Brand and toggle get grouped for better mobile display -->
										<div class="navbar-header">
											<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
											  <span class="sr-only">Toggle navigation</span>
											  <span class="icon-bar"></span>
											  <span class="icon-bar"></span>
											  <span class="icon-bar"></span>
											</button>
											<a id="menuInicio" class="navbar-brand" href="/"> <%= cabeceraTitulo%> </a>
										</div>

										<!-- Collect the nav links, forms, and other content for toggling -->
											<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
												<ul class="nav navbar-nav navbar-right">
													<li class="dropdown">
													  <a id="desplegarInicioSesion" href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Iniciar Sesion</b> <span class="caret"></span></a>
														<ul id="login-dp" class="dropdown-menu">
															<li>
																<div class="row">
																	<div class="col-md-12">
																		<form class="form" role="form"  accept-charset="UTF-8" id="frmLogin">
													    				<div class="input-group form-group">
																				<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
																				<input type="email" class="form-control" id="inputEmail" placeholder="Direccion Email" required name="usu_form" >
																			</div>

																			<div class="input-group form-group">
																				<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
																				<input type="password" class="form-control" id="inputPassword" placeholder="Contrasena" required name="pass_form" >
																			</div>

																			<div class="help-block text-center"><a href="">Olvido de clave ?</a></div>
																				<div class="form-group">
																						<button id="btnIniciarSesion" type="button" class="btn btn-primary btn-block">Iniciar Sesion</button>
																					</div>
																		</form>

																		<div class="bottom text-center">
																			No tienes cuenta? <a href="/"><b>Registrate</b></a>
																		</div>
																	</div>
																</div>
															</li>
														</ul>
													</li>
												</ul>
											</div><!-- /.navbar-collapse -->
										</div>
									</div>

									<div id="divJumbotron">
											<div class='jumbotron'>
													<br><br><br>
													<div class="container-fluid">
															<div class='col-md-7'>
																	<br><br>
																	<div class='row'>
																			<div class='col-sm-12 text-center'>
																					<h2 id='titu' > <%= jumbotronTitulo %> </h2>
																			</div>
																	</div>
																	<br><br>
																	<div class='row'>
																			<div class='col-md-2'>
																			</div>
																			<div class='col-md-8'>
																					<div class='alert alert-info text-center'>
																					<p> <%= jumbotronAlertaCentral1 %> </p>
																					<p> <%= jumbotronAlertaCentral2 %> </p>
																					<cite> <%= jumbotronAlertaCentral3 %> </cite>
																					</div>
																			</div>
																			<div class='col-md-2'>
																			</div>
																	</div>
																	<div class='row'>
																			<span class='glyphicon glyphicon-bullhorn'> <%= jumbotronAlertaCentralDifusion %> </span>
																	</div>
																	<br><br>
																	<br><br><br><br>
																	<div class='row'>
																			<div class='col-xs-8'>
																					<span class=''> <%= jumbotronAlertaCentralContacto1 %> </span>
																			</div>
																	</div>
																	<div class='row'>
																			<div class='col-xs-8'>
																					<span class='glyphicon glyphicon-envelope'> <%= jumbotronAlertaCentralContacto2 %> </span>
																			</div>
																	</div>
																	<div class='row'>
																			<div class='col-xs-8'>
																					<span class='glyphicon glyphicon-envelope'> <%= jumbotronAlertaCentralContacto3 %> </span>
																			</div>
																	</div>
															</div>
															<div class='col-md-5'>
																	<br>
																	<div>
																			<div>
																					<h2>Crea tu cuenta</h2>
																			</div>
																			<div>
																					<h5 id='text-muted' class='text-muted'>Inscripci&oacute;n gratuita</h5>
																			</div>
																			<br>
																			<div>
																					<form id="registroRapido" name="registroRapido">
																							<div class='form-group'>
																									<div class='row'>
																											<div class='col-md-6'>
																													<input type='text' class='form-control input-lg' name='txtnombre' id='txtnombre' placeholder='Nombre'>
																											</div>
																											<div class='col-md-6'>
																													<input type='text' class='form-control input-lg' name='txtapellido' id='txtapellido' placeholder='Apellido'>
																											</div>
																									</div>
																							</div>
																							<div class='form-group'>
																									<div class='row'>
																											<div class='col-sm-12'>
																													<input type='mail' class='form-control input-lg' id='txtcorreo' placeholder='Correo electronico'>
																											</div>
																									</div>
																							</div>
																							<div class='form-group'>
																									<div class='row'>
																											<div class='col-sm-12'>
																													<input type='mail' class='form-control input-lg' id='txtconfcorreo' placeholder='Confirmar correo electronico'>
																											</div>
																									</div>
																							</div>
																							<div class='form-group'>
																									<div class='row'>
																											<div class='col-md-12'>
																													<input type='password' class='form-control input-lg' id='newpassword' placeholder='Contraseña nueva'>
																											</div>
																									</div>
																							</div>
																							<div class='title'>
																									<h4><span class='small text-muted'>Cumpleaños</span></h4>
																							</div>
																							<div class='form-group'>
																									<div class='row'>
																															<div class='col-xs-2 Dcumple'>
																																	<select id="txtdia" class='form-control input-sm'>
																																	</select>
																															</div>
																															<div class='col-xs-2 Mcumple'>
																																	<select id="txtmes" class='form-control input-sm'>
																																	</select>
																															</div>
																															<div class='col-xs-2 Acumple'>
																																	<select id="txtanio" class='form-control input-sm'>
																																	</select>
																															</div>
																									</div>
																							</div> <!-- Fin de form-group -->
																							<div class='form-group'>
																									<div class='row'>
																											<div class='col-xs-4 Rmujer'>
																													<div class='radio'>
																															<label>
																																	<input type='radio' name='Genero' id='femenino' value='1'>
																																	Mujer
																															</label>
																													</div>
																											</div>
																											<div class='col-xs-4 Rhombre'>
																													<div class='radio'>
																															<label>
																																	<input type='radio' name='Genero' id='masculino' value='2' checked >
																																	Hombre
																															</label>
																													</div>
																											</div>
																									</div>
																							</div>
																							<div>
																									<div class='row'>
																											<div class='col-xs-5 text-left'>
																													<button id="botonRegistrar" type='button' class='btn btn-danger btn-md btn-block'>Registrar</button>
																											</div>
																									</div>
																							</div>
																					</form>
																			</div>
																	</div>
															</div>
													</div>
													<br><br>
											</div> <!-- Fin de jumbotron -->
									</div><!--Fin del DIV jumbotron -->

									<div id="divPiePagina">
											<footer class='footer'>
													<div class='container'>
															<p id='textoPiePagina' class='text-muted'>&reg; Desarrollo de Aplicaciones - Coordinacion de sistemas - Hospital coromoto  2015.</p>
													</div>
											</footer>
									</div>
							</div> <!-- End container-fluid -->
					</div> <!-- End of content wrapper -->
			</div> <!-- End Wrapper -->
		</script>

		<script src="js/libs/underscore.js"></script>
		<script src="js/libs/jquery-2.2.0.min.js"></script>
		<script src="js/libs/backbone.js"></script>
		<script src="js/libs/main2.js"></script>
		<script src="js/libs/bootstrap.min.js"></script>
	</body>
</html>
