<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>Registro de participantes</title>
        <link rel='stylesheet' href='js/libs/jquery-ui-1.11.4/jquery-ui.css'>
        <link rel="stylesheet" href="static/css/bootstrap.css">
        <link rel="stylesheet" href="static/css/perfilNuevo.css">

	</head>
	<body>

        <script id="modal2" type="text/template">
            <div id="dialog-message" title=<%= modalCabecera%>>
                <p>
                    <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
                    <%= modalCuerpo1%>
                </p>
                <p>
                    <%= modalCuerpo2%>
                </p>
            </div>
        <script>

        <script id="modal" type="text/template">
            <div class="modal hide fade" id="myModal">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">×</a>
                    <h3><%= modalCabecera%></h3>
                </div>
                <div class="modal-body">
                    <strong><%= modalCuerpo1%></strong>
                    <p><%= modalCuerpo2%></p>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn" data-dismiss="modal"><%= modalBoton1%></a>
                    <a href="#" class="btn btn-primary"><%= modalBoton2%></a>
                </div>
            </div>
        </script>

		<script id="personaPlantilla" type="text/template">
		    <strong><%= nombre%></strong> (<%= edad%>) - <%= ocupacion%>
		</script>

		<script id="sesionActivaPlantilla" type="text/template">
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b><%= nombre_usuario %></b> <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li>
							<div class="navbar-login">
							  <div class="row">
							      <div class="col-lg-4">
							          <p class="text-center">
							          	<span class="glyphicon glyphicon-user icon-size"></span>
							          </p>
							      </div>
							      <div class="col-lg-8">
                                      <p class="text-left"><strong><%= nombres %> <%= apellidos %></strong></p>
                                      <p class="text-left small"><%= nombre_usuario %></p>
							          <p class="text-left">
							          	<a id="editarPerfil" class="btn btn-primary btn-block btn-sm">Editar Perfil</a>
							          </p>
							      </div>
							  </div>
							</div>
			  		</li>
					  <li class="divider navbar-login-session-bg"></li>
					  <li><a href="#">Configurar Cuenta <span class="glyphicon glyphicon-cog pull-right"></span></a></li>
					  <li class="divider"></li>
                      <!-- <li><a href="#">Otro <span class="glyphicon glyphicon-stats pull-right"></span></a></li> -->
					  <li class="divider"></li>
					  <li><a href="#">Notificaciones <span class="badge pull-right"> 0 </span></a></li>
					  <li class="divider"></li>
					  <li><a href="#">Cerrar Sesion <span class="glyphicon glyphicon-log-out pull-right"></span></a></li>
					</ul>
				</li>
			</ul>
		</script>

		<script id="sesionInactivaPlantilla" type="text/template">
			<div id="mostrarInicioSesion">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Iniciar Sesion</b> <span class="caret"></span></a>
						<ul id="login-dp" class="dropdown-menu">
							<li>
								<div class="row">
									<div class="col-lg-12">
										<form class="form" role="form"  accept-charset="UTF-8" id="frmLogin">
											<div class="input-group form-group">
												<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
												<input type="email" class="form-control" id="inputEmail" placeholder="Direccion Email" required name="usu_form" >
											</div>
											<div class="input-group form-group">
												<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
												<input type="password" class="form-control" id="inputPassword" placeholder="Contrasena" required name="pass_form" >
											</div>

											<div class="help-block text-center"><a id='olvidoClave' href="">Olvido de clave ?</a></div>

											<div class="form-group">
												<button id="btnIniciarSesion" type="button" class="btn btn-primary btn-block">Iniciar Sesion</button>
											</div>
										</form>
										<div class="bottom text-center">
											No tienes cuenta? <a id='registrate' href="/"><b>Registrate</b></a>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</script>

		<script id="cuerpoIndexParte1Plantilla" type="text/template">
			<div class='row'>
					<div class='col-sm-12 text-center'>
							<h2 id='titu' > <%= jumbotronTitulo %> </h2>
					</div>
			</div>
			<br><br>
			<div class='row'>
					<div class='col-md-2'>
					</div>
					<div class='col-md-8'>
							<div class='alert alert-info text-center'>
							<p> <%= jumbotronAlertaCentral1 %> </p>
							<p> <%= jumbotronAlertaCentral2 %> </p>
							<cite> <%= jumbotronAlertaCentral3 %> </cite>
							</div>
					</div>
					<div class='col-md-2'>
					</div>
			</div>
			<div class='row'>
					<span class='glyphicon glyphicon-bullhorn'> <%= jumbotronAlertaCentralDifusion %> </span>
			</div>
			<br><br>
			<br><br><br><br>
			<div class='row'>
					<div class='col-xs-8'>
							<span class=''> <%= jumbotronAlertaCentralContacto1 %> </span>
					</div>
			</div>
			<div class='row'>
					<div class='col-xs-8'>
							<span class='glyphicon glyphicon-envelope'> <%= jumbotronAlertaCentralContacto2 %> </span>
					</div>
			</div>
			<div class='row'>
					<div class='col-xs-8'>
							<span class='glyphicon glyphicon-envelope'> <%= jumbotronAlertaCentralContacto3 %> </span>
					</div>
			</div>
		</script>

		<script id="cuerpoIndexParte2Plantilla" type="text/template">
			<div>
				<div>
					<h2>Crea tu cuenta</h2>
				</div>
				<div>
					<h5 id='text-muted' class='text-muted'>Inscripci&oacute;n gratuita</h5>
				</div>
				<br>
				<div>
					<form id="registroRapido" name="registroRapido">
						<div class='form-group'>
							<div class='row'>
								<div class='col-md-6'>
									<input type='text' class='form-control input-lg' name='txtnombre' id='txtnombre' placeholder='Ingrese el Nombre'>
								</div>
								<div class='col-md-6'>
									<input type='text' class='form-control input-lg' name='txtapellido' id='txtapellido' placeholder='Ingrese el Apellido'>
								</div>
							</div>
						</div>

						<div class='form-group'>
							<div class='row'>
								<div class='col-sm-12'>
									<input type='mail' class='form-control input-lg' id='txtcorreo' placeholder='Correo electronico'>
								</div>
							</div>
						</div>

						<div class='form-group'>
							<div class='row'>
                                <div class='col-md-6'>
									<input type='password' class='form-control input-lg' id='newpassword' placeholder='Contraseña nueva'>
								</div>

								<div class='col-md-6'>
									<input type='password' class='form-control input-lg' id='newpassword2' placeholder='Confirme la contraseña'>
								</div>
							</div>
						</div>

						<div class='form-group'>
							<div class='row'>
								<div class='col-sm-12'>
									<input type='tel' class='form-control input-lg' id='txtmovil' placeholder='Telef. Celular sin espacios ni guion'>
								</div>
							</div>
						</div>


						<div class='title'>
							<h4><span class='small text-muted'>Cumpleaños</span></h4>
						</div>

                        <div class='row'>
                            <div class='col-xs-6 Dcumple'>
                                <input type='text'  class='form-control input-lg' name='txtfechanac' id='txtfechanac' placeholder='Ingrese la fecha de Nacimiento DD/MM/AAAA'>
                           </div>
                        </div>
                        </div> <!-- Fin de form-group -->

						<div class='form-group'>
							<div class='row'>
								<div class='col-xs-4 Rmujer'>
									<div class='radio'>
										<label>
												<input type='radio' name='Genero' id='femenino' value=1>
												Mujer
										</label>
									</div>
								</div>
								<div class='col-xs-4 Rhombre'>
									<div class='radio'>
										<label>
												<input type='radio' name='Genero' id='masculino' value=2 checked >
												Hombre
										</label>
									</div>
								</div>
							</div>
						</div>

						<div>
							<div class='row'>
								<div class='col-xs-5 text-left'>
									<button id="botonRegistrar" type='button' class='btn btn-danger btn-md btn-block'>Registrar</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</script>

        <script id="pru" type="text/temlate">
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Nuevo<span class="caret"></span></a>
                <ul id="ulp" class="dropdown-menu" role="menu">
                </ul>
            </li>
        </script>

        <script id="pruebaPlantilla" type="text/template">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Configurar Sistema<span class="caret"></span></a>
                    <ul id="pruebaul" class="dropdown-menu" role="menu">
                        <li><a href="#">Usuarios</a></li>
                        <li><a href="#">Roles</a></li>
                        <li><a href="#">Asignar Roles a Usuario</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Asignar Permisos al Menu</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Agregar Menu y SubMenu</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Configurar Eventos<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Crear Eventos</a></li>
                        <li><a href="#">Crear Programas</a></li>
                        <li><a href="#">Crear Contenidos Programaticos</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Listar todos los eventos</a></li>
                    </ul>
                </li>
        </script>

        <script id="prueba2Plantilla" type="text/template">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ultima<span class="caret"></span></a>
                    <ul id="ulp2" class="dropdown-menu" role="menu">
                        <li><a href="#">Usuarios</a></li>
                        <li><a href="#">Roles</a></li>
                        <li><a href="#">Asignar Roles a Usuario</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Asignar Permisos al Menu</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Agregar Menu y SubMenu</a></li>
                    </ul>
                </li>
        </script>

        <script id="cabeceraMenuConfigurarSistemaPlantilla" type="text/template">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Configurar Sistema<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Usuarios</a></li>
                        <li><a href="#">Roles</a></li>
                        <li><a href="#">Asignar Roles a Usuario</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Asignar Permisos al Menu</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Agregar Menu y SubMenu</a></li>
                    </ul>
                </li>
            </ul>
        </script>

        <script id="cabeceraMenuConfigurarEventosPlantilla" type="text/template">
            <ul class="nav navbar-nav">
                <li><a href="#">Menu 1</a></li>
                <li><a href="#">Menu 2</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu con SubMenu <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li id='action'><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
        </script>

        <script id="cabeceraMenuEventosPlantilla" type="text/template">
            <ul class="nav navbar-nav">
                <li><a href="#">Menu 1</a></li>
                <li><a href="#">Menu 2</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu con SubMenu <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li id='action'><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
        </script>

        <script id="cabeceraMenuUsuarioPlantilla" type="text/template">
            <ul class="nav navbar-nav">
                <li><a href="#">Menu 1</a></li>
                <li><a href="#">Menu 2</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu con SubMenu <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li id='action'><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
        </script>

		<script id="piePaginaPlantilla" type="text/template">
			<footer class='footer'>
				<div class='container'>
					<p id='textoPiePagina' class='text-muted'> <%= piePagina %> </p>
				</div>
			</footer>
		</script>

		<script id="index" type="text/template">
            <div id="indexInicial">
			<div id='divCabeceraIndex'>
				<!-- Aqui se carga la plantilla de la cabecera del Index (menu nav Bar)-->
			</div>

			<div id="divCuerpoIndex">
				<!-- Aqui se carga la plantilla del cuerpo del Index-->
			</div>

			<div id="divPiePaginaIndex">
				<!-- Aqui se carga la plantilla del pie de pagina del Index-->
			</div>
            </div>
		</script>

		<script src="js/libs/underscore.js"></script>
		<script src="js/libs/jquery-2.2.0.min.js"></script>
        <script src="js/libs/jquery-ui-1.11.4/jquery-ui.js"></script>
        <script src="js/libs/backbone.js"></script>
        <script src="js/utils/buscarHtmlBackend.js"></script>
        <script src="js/vistas/cabeceraIndexVw.js"></script>
        <script src="js/vistas/cuerpoIndexVw.js"></script>
        <script src="js/vistas/perfilVw.js"></script>
        <script src="js/vistas/perfilCambiarClaveVw.js"></script>
        <script src="js/main.js"></script>
        <script src="js/utils/usuario.js"></script>
	    <script src="js/libs/bootstrap.min.js"></script>

        <script>
        $(function() {
            $( "#txtfechanac" ).datepicker();
        });
        </script>
	</body>
</html>
