<DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Registro de participantes</title>

    <!-- Iconos::IcoMoon -->
    <!-- cdn::bootstrap -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> -->
    <!-- Bootstrap::local -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel='stylesheet' href='sidebar.css'>
    <!-- <link href='http://fonts.googleapis.com/css?family=Hind:700,600,500' rel='stylesheet' type='text/css'> -->
    </head>
    <body>
        <div id='wrapper'>
            <div id='sidebar-wrapper'>
                <ul class='sidebar-nav'>
                        <div class='user-sidebar-info'>
                            <div class='row user-foto'>
                                <img src='img/unknow-user.png'></img>
                            </div>
                            <div class='row'>
                            </div>
                        </div>
                    <li>
                        <a href='#'><span class=''></span> Nosotros</a>
                    </li>
                    <li><a href='#'>Programa</a></li>
                    <li><a href='#'>Objetivos</a></li>
                    <li><a href='#'>Comit&eacute;</a></li>
                    <li><a href='#'>Normas y reglamentos</a></li>
                    <li><a href='#'>Formatos</a></li>
                    <li><a href='#'>Contacto</a></li>
                </ul>
            </div> <!-- End sidebar wrapper -->

            <div id='page-content-wrapper toggled'>
                <div class='container-fluid'>

                    <div class='navbar navbar-inverse navbar-fixed-top'>
                        <div class='container'>
                                <ul class='nav navbar-nav navbar-left'>
                                    <li><a href='#menu-toggle' id='menu-toggle'><span class='glyphicon glyphicon-align-justify'></span></a></li>
                                </ul>
                            <div class='collapse navbar-collapse navHeaderCollapse'>
                                <form class='navbar-form navbar-right'>
                                    <div class='form-group'>
                                        <input class='form-control' type='text' placeholder='Usuario'></input>
                                    </div>
                                    <div class='form-group'>
                                        <input class='form-control' type='password' placeholder='Clave'></input>
                                    </div>
                                    <div class='form-group'>
                                        <button type='submit' class="btn btn-success">Ingresar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>


                    <div class='jumbotron'>
                        <br><br><br>
                        <div class="container-fluid">
                            <div class='col-md-7'>
                                <br><br>
                                <div class='row'>
                                     <div class='col-sm-12 text-center'>
                                        <h2>II CONGRESO Y III JORNADAS CIENTIFICAS INTEGRALES DEL HOSPITAL COROMOTO</h2>
                                    </div>
                                </div>
                                <br><br>
                                <div class='row'>
                                    <div class='col-md-2'>
                                    </div>
                                    <div class='col-md-8'>
                                        <div class='alert alert-info text-center'>
                                        <p>Del 04 al 08 de Agosto de 2015</p>
                                        <p>Hotel Venetur</p>
                                        <cite>"Salud con Vocaci&oacute;n Socialista"</cite>
                                        </div>
                                    </div>
                                    <div class='col-md-2'>
                                    </div>
                                </div>
                                <div class='row'>
                                    <span class='glyphicon glyphicon-bullhorn'> Hotel Venetur Maracaibo</span>
                                </div>
                                <br><br>
                                <br><br><br><br>
                                <div class='row'>
                                    <div class='col-xs-8'>
                                        <span class=''> (0261) 7900331/7900308/7900364</span>
                                    </div>
                                </div>
                                <div class='row'>
                                    <div class='col-xs-8'>
                                        <span class='glyphicon glyphicon-envelope'> congresoshospitalcoromoto@gmail.com</span>
                                    </div>
                                </div>
                                <div class='row'>
                                    <div class='col-xs-8'>
                                        <span class='glyphicon glyphicon-envelope'> congresoshospitalcoromoto@outlook.com</span>
                                    </div>
                                </div>
                            </div>
                            <div class='col-md-5'>
                                <br>
                                <div>
                                    <div>
                                        <h2>Crea tu cuenta</h2>
                                    </div>
                                    <div>
                                        <h5 class='text-muted'>Inscripci&oacute;n gratuita</h5>
                                    </div>
                                    <br>
                                    <div>
                                        <form action='' method='POST'>
                                            <div class='form-group'>
                                                <div class='row'>
                                                    <div class='col-md-6'>
                                                        <input type='text' class='form-control input-lg' id='txtnombre' placeholder='Nombre'>
                                                    </div>
                                                    <div class='col-md-6'>
                                                        <input type='text' class='form-control input-lg' id='txtapellido' placeholder='Apellido'>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='form-group'>
                                                <div class='row'>
                                                    <div class='col-sm-12'>
                                                        <input type='mail' class='form-control input-lg' id='txtcorreo' placeholder='Correo electronico'>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='form-group'>
                                                <div class='row'>
                                                    <div class='col-sm-12'>
                                                        <input type='mail' class='form-control input-lg' id='txtconfcorreo' placeholder='Confirmar correo electronico'>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='form-group'>
                                                <div class='row'>
                                                    <div class='col-md-12'>
                                                        <input type='password' class='form-control input-lg' id='newpassword' placeholder='Contraseña nueva'>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='title'>
                                                <h4><span class='small text-muted'>Cumpleaños</span></h4>
                                            </div>
                                            <div class='form-group'>
                                                <div class='row'>
                                                            <div class='col-xs-2 Dcumple'>
                                                            <select class='form-control input-sm'>
                                                                <option value='0' selected='1'>D&iacute;a</option>
                                                                <option value='1'>01</option>
                                                                <option value='1'>02</option>
                                                                <option value='1'>03</option>
                                                                <option value='1'>04</option>
                                                                <option value='1'>05</option>
                                                                <option value='1'>06</option>
                                                                <option value='1'>07</option>
                                                                <option value='1'>08</option>
                                                                <option value='1'>09</option>
                                                                <option value='1'>10</option>
                                                                <option value='1'>11</option>
                                                                <option value='1'>12</option>
                                                                <option value='1'>13</option>
                                                                <option value='1'>14</option>
                                                                <option value='1'>15</option>
                                                                <option value='1'>16</option>
                                                                <option value='1'>17</option>
                                                                <option value='1'>18</option>
                                                                <option value='1'>19</option>
                                                                <option value='1'>20</option>
                                                                <option value='1'>21</option>
                                                                <option value='1'>22</option>
                                                                <option value='1'>23</option>
                                                                <option value='1'>24</option>
                                                                <option value='1'>25</option>
                                                                <option value='1'>26</option>
                                                                <option value='1'>27</option>
                                                                <option value='1'>28</option>
                                                                <option value='1'>29</option>
                                                                <option value='1'>30</option>
                                                                <option value='1'>31</option>
                                                            </select>
                                                            </div>
                                                            <div class='col-xs-2 Mcumple'>
                                                                <select class='form-control input-sm'>
                                                                    <option value='0' selected='1'>Mes</option>
                                                                    <option value='1'>Enero</option>
                                                                    <option value='2'>Febrero</option>
                                                                    <option value='3'>Marzo</option>
                                                                    <option value='4'>Abril</option>
                                                                    <option value='5'>Mayo</option>
                                                                    <option value='6'>Junio</option>
                                                                    <option value='7'>Julio</option>
                                                                    <option value='8'>Agosto</option>
                                                                    <option value='9'>Septiembre</option>
                                                                    <option value='10'>Octubre</option>
                                                                    <option value='11'>Noviembre</option>
                                                                    <option value='12'>Diciembre</option>
                                                                </select>
                                                            </div>
                                                            <div class='col-xs-2 Acumple'>
                                                                <select class='form-control input-sm'>
                                                                    <option value='0' selected='1'>Año</option>
                                                                    <option value=''>2015</option>
                                                                    <option value=''>2014</option>
                                                                    <option value=''>2013</option>
                                                                    <option value=''>2012</option>
                                                                    <option value=''>2011</option>
                                                                    <option value=''>2010</option>
                                                                    <option value=''>2009</option>
                                                                    <option value=''>2008</option>
                                                                    <option value=''>2007</option>
                                                                    <option value=''>2006</option>
                                                                    <option value=''>2005</option>
                                                                    <option value=''>2004</option>
                                                                    <option value=''>2003</option>
                                                                    <option value=''>2002</option>
                                                                    <option value=''>2001</option>
                                                                    <option value=''>2000</option>
                                                                    <option value=''>1999</option>
                                                                    <option value=''>1998</option>
                                                                    <option value=''>1997</option>
                                                                    <option value=''>1996</option>
                                                                    <option value=''>1995</option>
                                                                    <option value=''>1994</option>
                                                                    <option value=''>1993</option>
                                                                    <option value=''>1992</option>
                                                                    <option value=''>1991</option>
                                                                    <option value=''>1990</option>
                                                                    <option value=''>1989</option>
                                                                    <option value=''>1988</option>
                                                                    <option value=''>1987</option>
                                                                    <option value=''>1986</option>
                                                                    <option value=''>1985</option>
                                                                    <option value=''>1984</option>
                                                                    <option value=''>1983</option>
                                                                    <option value=''>1982</option>
                                                                    <option value=''>1981</option>
                                                                    <option value=''>1980</option>
                                                                    <option value=''>1979</option>
                                                                    <option value=''>1978</option>
                                                                    <option value=''>1977</option>
                                                                    <option value=''>1976</option>
                                                                    <option value=''>1975</option>
                                                                    <option value=''>1974</option>
                                                                    <option value=''>1973</option>
                                                                    <option value=''>1972</option>
                                                                    <option value=''>1971</option>
                                                                    <option value=''>1970</option>
                                                                    <option value=''>1969</option>
                                                                    <option value=''>1968</option>
                                                                    <option value=''>1967</option>
                                                                    <option value=''>1966</option>
                                                                    <option value=''>1965</option>
                                                                    <option value=''>1964</option>
                                                                    <option value=''>1963</option>
                                                                    <option value=''>1962</option>
                                                                    <option value=''>1961</option>
                                                                    <option value=''>1960</option>
                                                                    <option value=''>1959</option>
                                                                </select>
                                                            </div>
                                                </div>
                                            </div> <!-- Fin de form-group -->
                                            <div class='form-group'>
                                                <div class='row'>
                                                    <div class='col-xs-4 Rmujer'>
                                                        <div class='radio'>
                                                            <label>
                                                                <input type='radio' name='Genero' id='femenino' value='0'>
                                                                Mujer
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class='col-xs-4 Rhombre'>
                                                        <div class='radio'>
                                                            <label>
                                                                <input type='radio' name='Genero' id='masculino' value='1'>
                                                                Hombre
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class='row'>
                                                    <div class='col-xs-5 text-left'>
                                                        <button type='button' class='btn btn-danger btn-md btn-block'>Registrar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br><br>
                    </div> <!-- Fin de jumbotron -->


                    <footer class='footer'>
                        <div class='container'>
                            <p class='text-muted'>&reg; Coordinacion de sistemas - Hospital coromoto  2015.</p>
                        </div>
                    </footer>
                        </div>
                    </div>
                </div> <!-- End container-fluid -->
            </div> <!-- End of content wrapper -->
        </div> <!-- End Wrapper -->



        <!-- cdn::jQuery -->
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> -->
        <!-- local::jquery -->
        <script src='js/jquery-1.11.3.min.js'></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script>
            $('#menu-toggle').click(function(e) {
                e.preventDefault();
                $('#wrapper').toggleClass('toggled');
            });
        </script>
        <!-- cdn::bootstrap js -->
        <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> -->
    </body>
</html>

