<div id ="mostrarMenuOtro">
	<div id="divMenuPrincipal">                                                                                                                         
		<div id='sidebar-wrapper'>                                                                                                                      
			<ul class='sidebar-nav'>                                                                                                                    
				<div class='user-sidebar-info'>                                                                                                         
					<div class='row user-foto'>                                                                                                         
						<img src='static/img/unknow-user.png'></img>                                                                                    
					</div>                                                                                                                              
					<div class='row'></div>                                                                                                             
				</div>                                                                                                                                  
				<li><a href='#'><span class=''></span> Nosotros SubMenu</a></li>                                                                                
				<li><a href='#'>Programa SubMenu</a></li>                                                                                                       
				<li><a href='#'>Objetivos SubMenu</a></li>                                                                                                      
				<li><a href='#'>Comit&eacute; SubMenu</a></li>                                                                                                  
				<li><a href='#'>Normas y reglamentos SubMenu</a></li>                                                                                           
				<li><a href='#'>Formatos SubMenu</a></li>                                                                                                       
				<li><a href='#'>Contacto SubMenu</a></li>                                                                                                       
			</ul>                                                                                                                                       
		</div> <!-- End sidebar wrapper -->
	</div>
</div>


