<div id ="mostrarMenuPrincipal">
    <div id='sidebar-wrapper'>
        <ul class='sidebar-nav'>
            <li><a href='#'>Nosotros</span></a></li>
            <li><a href='#'>Programa</a></li>
            <li><a href='#'>Objetivos</a></li>
            <li><a href='#'>Comit&eacute;</a></li>
            <li><a href='#'>Normas y reglamentos</a></li>
            <li><a href='#'>Formatos</a></li>
            <li><a href='#'>Contacto</a></li>
        </ul>
    </div> <!-- End sidebar wrapper -->
</div>


