<div id="mostrarRegistro">
    <br><br><br>
<div class='container'>
            <div class='col-md-12'>
                <div class='panel panel-primary' id='panel1'>
                    <div class='panel-heading'>
                        <h4 class='panel-title'>
                            <!--PASO 1: Registro de datos personales -->
                            Registro de datos
                        </h4>
                    </div>
                    <div class='panel-body'>
                        <form id="registro">
                            <div class="form-group">
                                <div class='row'>
                                    <div class='col-sm-2'>
                                        <label for="txtcedula">Cedula</label>
                                        <input type="text" class="form-control" id="txtcedula" placeholder="Cedula" required >
                                    </div>
                                    <div class='col-sm-5'>
                                        <label for='txtnombre'>Nombre</label>
                                        <input type='text' class='form-control' id="txtnombre" placeholder="Nombre">
                                    </div>
                                    <div class='col-sm-5'>
                                        <label for=txtapellido'>Apellido</label>
                                        <input type='text' class='form-control' id='txtapellido' placeholder='Apellido'>
                                    </div>
                                </div>
                            </div>
                            <div class='form-group'>
                                <div class='row'>
                                    <div class='col-sm-3'>
                                        <label for='txtfecnac'>Fecha de Nacimiento</label>
                                        <input type='text' class='form-control' id='txtfecnac' placeholder='01/05/1981'>
                                    </div>
                                    <div class='col-sm-3'>
                                        <label for='slcgenero'>Genero</label>
                                        <select class='form-control' id='slcgenero'>
                                            <option value="0" selected="1" >Genero</option>
                                        </select>
                                    </div>
                                    <div class='col-sm-3'>
                                        <label for='slcnac'>Nacionalidad</label>
                                        <select class='form-control' id='slcnac'>
                                            <option value="0" selected="1" >Nacionalidad</option>
                                        </select>
                                    </div>
                                    <div class='col-sm-3'>
                                        <label for='slcestcivil'>Estado civil</label>
                                        <select class='form-control' id='slcestcivil'>
                                            <option value="0" selected="1">Edo Civil</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class='form-group'>
                                <div class='row'>
                                    <div class='col-sm-4'>
                                        <label for='txtmovil'>Telefono movil</label>
                                        <input type='text' class='form-control' id='txtmovil' placeholder='Ej. 04126729730'>
                                    </div>
                                    <div class='col-sm-4'>
                                        <label for='txthab'>Telefono habitacion</label>
                                        <input type='text' class='form-control' id='txthab' placeholder='Ej. 02617523658'>
                                    </div>
                                    <div class='col-sm-4'>
                                        <label for='txtmail'>Correo electronico</label>
                                        <input type='email' class='form-control' id='txtmail' placeholder='correo@gmail.com'>
                                    </div>
                                </div>
                            </div>
                            <div class='form-group'>
                                <div class='row'>
                                    <div class='col-sm-6'>
                                        <label for='txttwitter'>Twitter</label>
                                        <input type='text' class='form-control' id='txttwitter' placeholder='Ej. @mitwitter'>
                                    </div>
                                    <div class='col-sm-6'>
                                        <label for='txtinstagram'>Instagram</label>
                                        <input type='text' class='form-control' id='txtinstagram' placeholder='Ej. miinstagram'>
                                    </div>
                                </div>
                            </div>
                            <div class='form-group'>
                                <div class='row'>
                                    <div class='col-sm-4'>
                                        <label for='slcpais'>Pais</label>
                                        <select class='form-control' id='slcpais'>
                                            <option value="0" selected="1">Pais</option>
                                        </select>
                                    </div>
                                    <div class='col-sm-4'>
                                        <label for='slcestado'>Estado</label>
                                        <select class='form-control' id='slcestado'>
                                            <option value="0" selected="1">Estado</option>
                                        </select>
                                    </div>
                                    <div class='col-sm-4'>
                                        <label for='slcciudad'>Ciudad</label>
                                        <select class='form-control' id='slcciudad'>
                                            <option value="0" selected="1">Ciudad</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class='form-group'>
                                <div class='row'>
                                    <div class='col-sm-12'>
                                        <label for='direccion'>Direccion</label>
                                        <textarea class='form-control' id='direccion' rows='3'></textarea>
                                    </div>
                                </div>
                            </div>
                            <h3>Datos Laborales</h3>
                            <hr><!-- parte del formulario para informacion laboral -->
                            <div class='form-group'>
                                <div class='row'>
                                    <div class='col-sm-4'>
                                        <label for='txtcargo'>Cargo</label>
                                        <input type='text' class='form-control' id='txtcargo' placeholder=''>
                                    </div>
                                    <div class='col-sm-4'>
                                        <label for='txtinstitucion'>Institucion</label>
                                        <input type='text' class='form-control' id='txtinstitucion' placeholder=''>
                                    </div>
                                </div>
                            </div>
                            <div class='form-group'>
                                <div class='row'>
                                    <div class='col-sm-12'>
                                        <label for='txtdirlaboral'>Direccion</label>
                                        <textarea class='form-control' id='txtdirlaboral'rows='3'></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class='form-group'>
                                <div class='row'>
                                    <div class='col-sm-3'>
                                        <label for='txttellaboral'>Telefono</label>
                                        <input type='text' class='form-control' id='txttellaboral' placeholder=''>
                                    </div>
                                    <div class='col-sm-3'>
                                        <label for='txtfaxlaboral'>Fax</label>
                                        <input type='text' class='form-control' id='txtfaxlaboral' placeholder=''>
                                    </div>
                                    <div class='col-sm-3'>
                                        <label for='txtcorreolaboral'>Correo electronico</label>
                                        <input type='text' class='form-control' id='txtcorreolaboral' placeholder=''>
                                    </div>
                                    <div class='col-sm-3'>
                                        <label for='txtweblaboral'>Pagina web</label>
                                        <input type='text' class='form-control' id='txtweblaboral' placeholder=''>
                                    </div>
                                </div>
                            </div>
                            <div class='form-group'>
                                <div class='row'>
                                    <div class='col-sm-3'>
                                        <label for='txttwitterlab'>Twitter</label>
                                        <input type='text' class='form-control' id='txttwitterlab' placeholder=''>
                                    </div>
                                </div>
                            </div>
                            <!-- Fin de informacion laboral -->

                            <h3>Datos Academicos</h3>
                            <hr>
                            <div class='form-group'>
                                <div class='row'>
                                    <div class='col-sm-3'>
                                        <label for='slcprofesion'>Nivel Academico</label>
                                        <select class='form-control' id='slcnivelacademico'>
                                            <option value="0" selected="1">Nivel Academico</option>
                                        </select>
                                    </div>

                                    <div class="col-sm-3">
                                        <label for=txtprofesiontipo>Profesion</label>
                                        <input type='text' class='form-control' id='txtprofesiontipo' placeholder='Ej:Computacion'>
                                    </div>

                                    <div class='col-sm-3'>
                                        <label for='slcespecialidad'>Especialidad</label>
                                        <select class='form-control' id='slcespecialidad'>
                                            <option value="0" selected="1">Especialidad</option>
                                        </select>
                                    </div>
                                    <div class='col-sm-3'>
                                        <label for='txtinstitucionpro'>Institucion Academica</label>
                                        <input type='text' class='form-control' id='txtinstitucionpro' placeholder=''>
                                    </div>
                                </div>
                            </div>
                            <div class='form-group'>
                                <div class='row'>
                                    <div class='col-sm-12'>
                                        <label for='txtdirpro'>Direccion</label>
                                        <textarea class='form-control' id='txtdirpro'></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class='form-group'>
                                <div class='row'>
                                    <div class='col-sm-4'>
                                        <label for='txttelpro'>Telefono</label>
                                        <input type='text' class='form-control' id='txttelpro' placeholder=''>
                                    </div>
                                    <div class='col-sm-4'>
                                        <label for='textfaxpro'>Fax</label>
                                        <input type='text' class='form-control' id='txtfaxpro' placeholder=''>
                                    </div>
                                    <div class='col-sm-4'>
                                        <label for='txtmailpro'>Correo</label>
                                        <input type='text' class='form-control' id='txtmailpro' placeholder=''>
                                    </div>
                                </div>
                            </div>
                            <div class='form-group'>
                                <div class='row'>
                                    <div class='col-sm-4'>
                                        <label for='txtwebpro'>Direccion web</label>
                                        <input type='text' class='form-control' id='txtwebpro' placeholder=''>
                                    </div>
                                    <div class='col-sm-4'>
                                        <label for='txttwitterpro'>Twitter</label>
                                        <input type='text' class='form-control' id='txttwitterpro' placeholder=''>
                                    </div>
                                </div>
                            </div>

                            <div class='panel-footer text-right'>
                                <button id="btnCancelar" type='button' class='btn btn-danger'>Cancelar</button>
                                <button id="btnRegistrarse" type='button' class='btn btn-success'>Registrarse</button>
                            </div>
                        </form>
                    </div>
                </div> <!-- Final panel 1 -->
            </div>
        </div>
</div> <!-- Fin de Mostrarjumbotron -->
<script>
    $(document).ready(function(){
        alert('Hola')
    })
</script>
