<div class='row'>
        <div class='col-sm-12 text-center'>
                <h2 id='titu' > <%= jumbotronTitulo %> </h2>
        </div>
</div>
<br><br>

<div class='row'>
    <div class='col-md-2'></div>
    <div class='col-md-8'>
        <div class='alert alert-info text-center'>
            <p> <%= jumbotronAlertaCentral1 %> </p>
            <p> <%= jumbotronAlertaCentral2 %> </p>
            <cite> <%= jumbotronAlertaCentral3 %> </cite>
        </div>
    </div>
    <div class='col-md-2'></div>
</div>

<div class='row text-center'>
    <span class='glyphicon glyphicon-bullhorn'> <%= jumbotronAlertaCentralDifusion %> </span>
</div>

<br><br>
<br><br><br><br>

<div class='row text-center'>
        <span class='glyphicon glyphicon-earphone'> <%= jumbotronAlertaCentralContacto1 %> </span>
</div>

<div class='row text-center'>
        <span class='glyphicon glyphicon-envelope'> <%= jumbotronAlertaCentralContacto2 %> </span>
</div>

<div class='row text-center'>
        <span class='glyphicon glyphicon-envelope'> <%= jumbotronAlertaCentralContacto3 %> </span>
</div>
