<div class="container-fluid">
<div id="divJumbotron">
        <div class='jumbotron'>
                <div id="contenedorCentral" class="container-fluid">
                        <div class='col-md-7'>
                            <div id="divCuerpoIndexParte1">
                                <!-- Aqui se carga la plantilla-->
                            </div>
                        </div>

                        <div class='col-md-5'>
                            <div id="divCuerpoIndexParte2">
                                    <!-- Aqui se carga la plantilla-->
                            </div>
                        </div>
                </div>
                <br><br>
        </div> <!-- Fin de jumbotron -->
</div><!--Fin del DIV jumbotron -->
</div>
