<div id="menuPrincipal">
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <!-- <a class="dropdown-toggle" data-toggle="dropdown" href="/">Inicio</a> -->
            <a class="nav navbar-nav" href="/">Inicio</a>
        </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown">mis eventos<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a id="eventosDisponibles"  href="#">ver eventos disponibles</a></li>
            <li><a id="registrarse" href="#">registrarse en un evento</a></li>
            <li><a id="ver" href="#">ver contenidos programaticos</a></li>
            <li class="divider"></li>
            <li><a id="listar" href="#">listar todos los eventos</a></li>
        </ul>
    </li>
    </ul>
</div>
