<!-- Menu Principal -->
<div id ="contenidoMenuPrincipal">
    <div id='sidebar-wrapper'>
        <ul class='sidebar-nav'>
            <li><a href='#'>Nosotros</span></a></li>
            <li><a href='#'>Programa</a></li>
            <li><a href='#'>Objetivos</a></li>
            <li><a href='#'>Comit&eacute;</a></li>
            <li><a href='#'>Normas y reglamentos</a></li>
            <li><a href='#'>Formatos</a></li>
            <li><a href='#'>Contacto</a></li>
        </ul>
    </div> <!-- End sidebar wrapper -->
</div>

<!-- cabeceraMarcoTrab -->
<div class='container'>
    <ul class='nav navbar-nav navbar-left'>
        <li><a href='#menu-toggle' id='menu-toggle'><span class='glyphicon glyphicon-align-justify'></span></a></li>
    </ul>
    <div class='collapse navbar-collapse navHeaderCollapse'>
        <div class="navbar-header">
            <a id="menuInicio" class="navbar-brand" href="/">EVENTOS ACADEMICOS E INVESTIGACION HOSPITAL COROMOTO</a>
        </div>

        <!--Aqui se carga el form de inicio de sesion -->
        <div id="divInicioSesion">
            <!--Este codigo se carga con jQuery -->
        </div><!--Fin del Form de inicio de Sesion  -->

    </div>
</div>

<!-- marco de trabajo jumbotron 7 columnas-->
<div class='col-md-7'>
    <br><br>
    <div class='row'>
        <div class='col-sm-12 text-center'>
            <h2>II JORNADAS CIENTIFICAS INTEGRALES DEL HOSPITAL COROMOTO</h2>
        </div>
    </div>
    <br><br>
    <div class='row'>
        <div class='col-md-2'>
        </div>
        <div class='col-md-8'>
            <div class='alert alert-info text-center'>
            <p>Del 05 al 07 de Agosto de 2015</p>
            <p>Hotel Venetur</p>
            <cite>"Salud con Vocaci&oacute;n Socialista"</cite>
            </div>
        </div>
        <div class='col-md-2'>
        </div>
    </div>
    <div class='row'>
        <span class='glyphicon glyphicon-bullhorn'> Hotel Venetur Maracaibo</span>
    </div>
    <br><br>
    <br><br><br><br>
    <div class='row'>
        <div class='col-xs-8'>
            <span class=''> (0261) 7900331/7900308/7900364</span>
        </div>
    </div>
    <div class='row'>
        <div class='col-xs-8'>
            <span class='glyphicon glyphicon-envelope'> congresoshospitalcoromoto@gmail.com</span>
        </div>
    </div>
    <div class='row'>
        <div class='col-xs-8'>
            <span class='glyphicon glyphicon-envelope'> congresoshospitalcoromoto@outlook.com</span>
        </div>
    </div>
</div>
<!-- FIN marco de trabajo jumbotron 7 columnas-->

<!-- marco de Trabajo jumbotron 5 columnas-->
<div class='col-md-5'>
    <br>
    <div>
        <div>
            <h2>Crea tu cuenta</h2>
        </div>
        <div>
            <h5 class='text-muted'>Inscripci&oacute;n gratuita</h5>
        </div>
        <br>
        <div>
            <form id="registroRapido" name="registroRapido">
                <div class='form-group'>
                    <div class='row'>
                        <div class='col-md-6'>
                            <input type='text' class='form-control input-lg' name='txtnombre' id='txtnombre' placeholder='Nombre'>
                        </div>
                        <div class='col-md-6'>
                            <input type='text' class='form-control input-lg' name='txtapellido' id='txtapellido' placeholder='Apellido'>
                        </div>
                    </div>
                </div>
                <div class='form-group'>
                    <div class='row'>
                        <div class='col-sm-12'>
                            <input type='mail' class='form-control input-lg' id='txtcorreo' placeholder='Correo electronico'>
                        </div>
                    </div>
                </div>
                <div class='form-group'>
                    <div class='row'>
                        <div class='col-sm-12'>
                            <input type='mail' class='form-control input-lg' id='txtconfcorreo' placeholder='Confirmar correo electronico'>
                        </div>
                    </div>
                </div>
                <div class='form-group'>
                    <div class='row'>
                        <div class='col-md-12'>
                            <input type='password' class='form-control input-lg' id='newpassword' placeholder='Contraseña nueva'>
                        </div>
                    </div>
                </div>
                <div class='title'>
                    <h4><span class='small text-muted'>Cumpleaños</span></h4>
                </div>
                <div class='form-group'>
                    <div class='row'>
                                <div class='col-xs-2 Dcumple'>
                                    <select id="txtdia" class='form-control input-sm'>
                                    </select>
                                </div>
                                <div class='col-xs-2 Mcumple'>
                                    <select id="txtmes" class='form-control input-sm'>
                                    </select>
                                </div>
                                <div class='col-xs-2 Acumple'>
                                    <select id="txtanio" class='form-control input-sm'>
                                    </select>
                                </div>
                    </div>
                </div> <!-- Fin de form-group -->
                <div class='form-group'>
                    <div class='row'>
                        <div class='col-xs-4 Rmujer'>
                            <div class='radio'>
                                <label>
                                    <input type='radio' name='Genero' id='femenino' value='1'>
                                    Mujer
                                </label>
                            </div>
                        </div>
                        <div class='col-xs-4 Rhombre'>
                            <div class='radio'>
                                <label>
                                    <input type='radio' name='Genero' id='masculino' value='2' checked >
                                    Hombre
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class='row'>
                        <div class='col-xs-5 text-left'>
                            <button id="botonRegistrar" type='button' class='btn btn-danger btn-md btn-block'>Registrar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- FIN de marco de trabajo jumbotron 5 columnas-->

<!-- marcoTrabJumbotron-->
<div class='jumbotron'>
    <br><br><br>
    <div class="container-fluid">
        <div id='marcoTrabJumbotron_7Columnas'></div>
        <div id='marcoTrabJumbotron_5Columnas'></div>
    </div>
    <br><br>
</div> <!--FIN de jumbotron -->
<!-- FIN de marco trabajo Jumbotron -->

<!-- marcoTrabPiePagina-->
<div id="divPiePagina">
    <footer class='footer'>
        <div class='container'>
            <p class='text-muted'>&reg; Desarrollo de Aplicaciones - Coordinacion de sistemas - Hospital coromoto  2015.</p>
        </div>
    </footer>
</div>
<!-- FIN marco trabajo pie de pagina-->


<div id='wrapper'>
    <!-- Aqui va el DIV del Menu Principal-->
    <div id='divMenuPrincipal'></div>
    <div id='page-content-wrapper toggled'>
      <div class='container-fluid'>
        <div class='navbar navbar-inverse navbar-fixed-top'>
          <div id='marcoTrabCabecera'></div>
          <div id="marcoTrabJumbotron"></div>
          <div id="marcoTrabPiePagina"></div>
        </div>
      </div> <!-- fin de container-fluid-->
    </div> <!-- fin de  page-content-wrapper toggled -->
</div> <!-- FIN Wrapper -->
