<section style="background:#efefe9;">
        <div class="container">
            <div class="row">
                <div class="board">
                    <!-- <h2>Welcome to IGHALO!<sup>™</sup></h2>-->
                    <div class="board-inner">
                        <ul class="nav nav-tabs" id="myTab">
                            <div class="liner"></div>

                            <li class="active">
                                <a href="#login" data-toggle="tab" title="Cambiar Contraseña">
                                    <span class="round-tabs one">
                                    <i class="glyphicon glyphicon-user"></i>
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a href="#dpersonal" data-toggle="tab" title="Datos Personales">
                                    <span class="round-tabs two">
                                    <i class="glyphicon glyphicon-folder-open"></i>
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a href="#foto" data-toggle="tab" title="Foto del Perfil">
                                    <span class="round-tabs three">
                                    <i class="glyphicon glyphicon-picture"></i>
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a href="#profile" data-toggle="tab" title="Inforamcion Contacto">
                                    <span class="round-tabs four">
                                        <i class="glyphicon glyphicon-book"></i>
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a href="#messages" data-toggle="tab" title="Informacion Profesional">
                                    <span class="round-tabs five">
                                        <i class="glyphicon glyphicon-certificate"></i>
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a href="#settings" data-toggle="tab" title="Informacion Laboral">
                                    <span class="round-tabs six">
                                        <i class="glyphicon glyphicon-briefcase"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="login">
                            <h3 class="head text-center">Cambiar Contraseña</h3>
                            <div id="plantillaCambiarClave" >
                                <!--Aqui se inserta el codigo -->
                            </div>
                        </div>

                        <div class="tab-pane fade" id="dpersonal">
                            <h3 class="head text-center">Datos Personales</h3>
                            <div id="plantillaCambiarDatosPersonales" >
                                <!--Aqui se inserta el codigo -->
                            </div>
                        </div>

                        <div class="tab-pane fade" id="foto">
                            <h3 class="head text-center">Foto Perfil</h3>
                        </div>

                        <div class="tab-pane fade" id="profile">
                            <h3 class="head text-center">Informacion de Contacto</h3>
                        </div>

                        <div class="tab-pane fade" id="messages">
                            <h3 class="head text-center">Informacion Profesional</h3>
                        </div>

                        <div class="tab-pane fade" id="settings">
                            <h3 class="head text-center">Informacion Laboral</h3>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
</section>
