<form class="form-horizontal">
    <fieldset>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="usuario_id">Usuario ID</label>
            <div class="col-md-4">
                <input id="usuario_id" name="usuario_id" type="text" placeholder="Usuario ID" class="form-control input-md">
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="nombre_usauio">Nombre de Usuario</label>
            <div class="col-md-4">
                <input id="nombre_usauio" name="nombre_usauio" type="text" placeholder="Nombre de Usuario" class="form-control input-md">
            </div>
        </div>

        <!-- Password input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="password1">Password</label>
            <div class="col-md-4">
                <input id="password1" name="password1" type="password" placeholder="Password" class="form-control input-md">
            </div>
        </div>

        <!-- Password input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="Password2">Confirme el Password</label>
            <div class="col-md-4">
                <input id="Password2" name="Password2" type="password" placeholder="Confirme el Password" class="form-control input-md">
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="codigoverificacion">Codigo de Verificacion</label>
            <div class="col-md-4">
                <input id="codigoverificacion" name="codigoverificacion" type="text" placeholder="Codigo de Verificacion" class="form-control input-md">
            </div>
        </div>

        <!-- Button (Double) -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="button1id"></label>
            <div class="col-md-8">
                <button id="button1id" name="button1id" class="btn btn-success">Salvar</button>
                <button id="button2id" name="button2id" class="btn btn-danger">Cancelar</button>
            </div>
        </div>

    </fieldset>
</form>


id_tipo_identidad
tipo_identidad
cedula_passp
nombres
apellidos
fechanac
id_genero_sexo
genero_sexo
id_nacionalidad
nacionalidad
id_edo_civil
edo_civil
id_direccion
id_pais
pais
id_estado
estado
id_ciudad
ciudad
direccion

id_inf_personal
inf_personal_telefono_movil
inf_personal_telefono_habitacion
inf_personal_email
inf_personal_twitter
inf_personal_instagram
id_inf_laboral
cargo
institucionlaboral
direccionlaboral
telefonolaboral
faxlaboral
emaillaboral
weblaboral
twitterlaboral
id_inf_profesional
id_nivelacademico
descripcion
id_especialidad
profesioninstitucion
profesiondireccion
id_usuario

