<div class="container">
    <form id="frmDatosPersonales">
        <fieldset>
            <!-- Tipo y Numero de Indentidad-->
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label" for="usuario_id">Usuario ID</label>
                        <!--<label id="usuario_id" class="col-md-4 control-label"> <%= id_usuario%> </label> -->
                        <input id="usuario_id" name="usuario_id" type="text" placeholder="Usurio Id" class="form-control input-md" value= <%= id_usuario%> readonly >
                    </div>

                    <div class="col-md-4">
                        <label  class="control-label" for="slcTipoIdentidad">Tipo Identidad</label>
                        <select id="slcTipoIdentidad" class="form-control"></select>
                    </div>

                    <div class="col-md-4">
                        <label class="control-label" for="tipo_identidad">Numero de Identificacion</label>
                        <input id="identificacion" name="identificacion" type="text" placeholder="Identificacion" class="form-control input-md" value = <%= cedula_passp%>>
                    </div>
                </div>
            </div>
            <!-- FIN de Tipo y Numero de Indentidad-->

            <!-- Nombre y Apellido-->
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                    <label class="control-label" for="nombres">Nombre</label>
                    <input id="nombres" name="nombres" type="text" placeholder="Ingrese el Nombre" class="form-control input-md" value=<%= nombres %> >
                    </div>

                    <div class="col-md-6">
                    <label class="control-label" for="apellidos">Apellidos</label>
                    <input id="apellidos" name="apellidos" type="text" placeholder="Ingrese los Apellidos" class="form-control input-md" value=<%= apellidos %> >
                    </div>
                </div>
            </div>
            <!-- FIN de Nombre y Apellido-->

            <!-- Fecha Nac, Genero, Nacionalidad, Edo Civil-->
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <label class="control-label" for="fechanac">Fecha de Naciemiento</label>
                        <input type='text'  name='fechanac' id='fechanac' placeholder='Ingrese la fecha de Nacimiento DD/MM/AAAA' class='form-control input-md' value=<%= fechanac %> >
                    </div>

                    <div class="col-md-3">
                        <label  class="control-label" for="genero_sexo">Genero</label>
                        <select id="slcGeneroSexo" name="genero_sexo" class="form-control">
                        </select>
                    </div>

                    <div class="col-md-3">
                    <label  class="control-label" for="nacionalidad">Nacionalidad</label>
                    <select id="slcNacionalidad" name="nacionalidad" class="form-control">
                    </select>
                    </div>

                    <div class="col-md-3">
                    <label  class="control-label" for="edo_civil">Estado Civil</label>
                    <select id="slcEdoCivil" name="edo_civil" class="form-control">
                    </select>
                    </div>
                </div>
            </div>
            <!-- FIN de Fecha Nac, Genero, Nacionalidad, Edo Civil-->

            <!-- Pais, Estado, Ciudad -->
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label  class="control-label" for="pais">Pais</label>
                        <select id="slcPais" name="pais" class="form-control">
                        </select>
                    </div>

                    <div class="col-md-4">
                        <label  class="control-label" for="estado">Estado</label>
                        <select id="slcEstado" name="estado" class="form-control">
                        </select>
                    </div>

                    <div class="col-md-4">
                        <label  class="control-label" for="ciudad">Ciudad</label>
                        <select id="slcCiudad" name="ciudad" class="form-control">
                        </select>
                    </div>
                </div>
            </div>

            <!-- Area o Localidad -->
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label class="control-label" for="area">Municipio, Area o Localidad</label>
                        <!-- <input type="text" id="area" placeholder="Municipio, Area o Localidad" class="form-control" value=<%=direcc_direccion%> /> -->
                        <textarea class="form-control" id="area"><%= direcc_localidad_area%></textarea>
                    </div>

                     <div class="col-md-6">
                        <label class="control-label" for="direccion">Direccion de Habitacion</label>
                        <textarea class="form-control" id="direccion" name="direccion"><%= direcc_direccion%></textarea>
                    </div>
                </div>
            </div>

            <hr />
            <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <a id="btnGuardarDatosP" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-floppy-disk"></span> Guardar</a>
                            <a id="btnCancelarDatosP" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span> Cancelar</a>
                        </div>
                    </div>
            </div>

        </fieldset>
    </form>
</div>
