<form class="form-horizontal">
    <fieldset>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="usuario_id">Usuario ID</label>
            <div class="col-md-4">
                <input id="usuario_id" name="usuario_id" type="text" placeholder="Usuario ID" class="form-control input-md">
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="nombre_usauio">Nombre de Usuario</label>
            <div class="col-md-4">
                <input id="nombre_usauio" name="nombre_usauio" type="text" placeholder="Nombre de Usuario" class="form-control input-md">
            </div>
        </div>

        <!-- Password input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="password1">Password</label>
            <div class="col-md-4">
                <input id="password1" name="password1" type="password" placeholder="Password" class="form-control input-md">
            </div>
        </div>

        <!-- Password input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="Password2">Confirme el Password</label>
            <div class="col-md-4">
                <input id="Password2" name="Password2" type="password" placeholder="Confirme el Password" class="form-control input-md">
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="codigoverificacion">Codigo de Verificacion</label>
            <div class="col-md-4">
                <input id="codigoverificacion" name="codigoverificacion" type="text" placeholder="Codigo de Verificacion" class="form-control input-md">
            </div>
        </div>

        <!-- Button (Double) -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="button1id"></label>
            <div class="col-md-8">
                <button id="button1id" name="button1id" class="btn btn-success">Salvar</button>
                <button id="button2id" name="button2id" class="btn btn-danger">Cancelar</button>
            </div>
        </div>

    </fieldset>
</form>

