<section style="background:#efefe9;">
        <div class="container">
            <div class="row">
                <div class="board">
                    <!-- <h2>Welcome to IGHALO!<sup>™</sup></h2>-->
                    <div class="board-inner">
                        <ul class="nav nav-tabs" id="myTab">
                        <div class="liner"></div>
                        <li class="active">
                            <a href="#home" data-toggle="tab" title="Pestaña 1">
                                <span class="round-tabs one">
                                <i class="glyphicon glyphicon-home"></i>
                                </span> 
                            </a>
                        </li>

                        <li>
                            <a href="#profile" data-toggle="tab" title="Pestaña 2">
                                <span class="round-tabs two">
                                    <i class="glyphicon glyphicon-user"></i>
                                </span> 
                            </a>
                        </li>
                        <li>
                            <a href="#messages" data-toggle="tab" title="Pestaña 3">
                                <span class="round-tabs three">
                                    <i class="glyphicon glyphicon-gift"></i>
                                </span>
                            </a>
                        </li>
                        </ul>
                    </div>

                     <div class="tab-content">
                      <div class="tab-pane fade in active" id="home">
                          <h3 class="head text-center">Welcome to Bootsnipp<sup>™</sup> <span style="color:#f48260;">♥</span></h3>
                      </div>
                      
                      <div class="tab-pane fade" id="profile">
                          <h3 class="head text-center">Create a Bootsnipp<sup>™</sup> Profile</h3>
                      </div>
                      
                      <div class="tab-pane fade" id="messages">
                          <h3 class="head text-center">Bootsnipp goodies</h3>
                      </div>
                      
                      <div class="tab-pane fade" id="settings">
                          <h3 class="head text-center">Drop comments!</h3>
                      </div>
                      
                        <div class="clearfix"></div>
                    </div>

                </div>
            </div>
        </div>
</section>
                   
